<div class="review-top row pt-40">
  <div class="col-lg-12">
    <h6 class="mb-15">Provide Your Rating</h6>
    <div class="d-flex flex-row  justify-content-between">
      <div class="">
        <ngx-star-rating
          [(ngModel)]="rating3"
          [id]="'rating3'"
        ></ngx-star-rating>
      </div>
    </div>
  </div>
</div>

<div class="feedeback">
  <h6>Your Feedback</h6>
  <textarea
    name="feedback"
    [(ngModel)]="feedback.feedback"
    class="form-control"
    cols="10"
    rows="10"
  ></textarea>
  <div class="mt-10 text-right">
    <button
      type="button"
      (click)="submitFeedback()"
      class="primary-btn text-right text-uppercase"
    >
      Submit
    </button>
    <span *ngIf="flag">{{ message }}</span>
  </div>
</div>
<div class="comments-area mb-30">
    <div class="comment-list">
        <div class="single-comment single-reviews justify-content-between d-flex">
          <div class="user justify-content-between d-flex">
            <div class="thumb">
              <img src="../../../assets/img/blog/c1.jpg" alt="" />
            </div>
            <div class="desc">
              <h5>
                <a href="#">Emilly Blunt</a>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </h5>
              <p class="comment">
               No Comments to display
              </p>
            </div>
          </div>
        </div>
      </div>
  <div class="comment-list">
    <div class="single-comment single-reviews justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img src="../../../assets/img/blog/c1.jpg" alt="" />
        </div>
        <div class="desc">
          <h5>
            <a href="#">Emilly Blunt</a>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </h5>
          <p class="comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-list">
    <div class="single-comment single-reviews justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img src="../../../assets/img/blog/c2.jpg" alt="" />
        </div>
        <div class="desc">
          <h5>
            <a href="#">Elsie Cunningham</a>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </h5>
          <p class="comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-list">
    <div class="single-comment single-reviews justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img src="../../../assets/img/blog/c3.jpg" alt="" />
        </div>
        <div class="desc">
          <h5>
            <a href="#">Maria Luna</a>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </h5>
          <p class="comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
