<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>
                            India's 1st Micro <br>
                            Learning platform
                        </h2>
                        <p>
                            Pay as you learn. Pay only for that topic which you want to learn.
                            No more need to pay for entire course if you just want to learn few topics.
                        </p>
                        <div class="search_course_wrap">
                            <a routerLink="/explorecourses" class="btn  btn-lg  btn-primary" role="button"
                                aria-disabled="true">
                                Explore Our Courses <span style="color:indianred;font-weight: 900;">&#10132;</span></a>

                            <!-- <form action="" class="form_box d-flex justify-content-between w-100">
                                <input type="text" placeholder="Search Courses" class="form-control" name="username"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Courses'">
                                <button type="submit" class="btn search_course_btn">Search</button>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Feature Area =================-->
<section class="feature_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="single_feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-book"></span>
                    </div>
                    <div class="desc">
                        <h4>Micro Learning</h4>
                        <p>
                            All our course are unbundled into micro topics. One can opt for any topic and just need to
                            pay for that particular topic.
                            .
                        </p>
                    </div>
                </div>
                <div class="single_feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="fa fa-trophy"></span>
                    </div>
                    <div class="desc">
                        <h4>Instructor Led Classes</h4>
                        <p>
                            All our classes are instructor led. One can choose for both online and classroom program.For
                            class room programs one need to visit our designated centers in different cities

                        </p>
                    </div>
                </div>
                <div class="single_feature d-flex flex-row" style="display: none !important;">
                    <div class="icon">
                        <span class="lnr lnr-screen"></span>
                    </div>
                    <div class="desc">
                        <h4>Expert Mentoring</h4>
                        <p>
                            All our experts are experienced IT professionals and go through an intense selection process
                            to get signed up as trainer at mLearn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ End Feature Area =================-->
<!--================ How it Works =================-->
<div class="main_title hwworks">
    <h2>How it Works</h2>

</div>
<div class="lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <!-- <h2>How it Works</h2> -->

                </div>
            </div>
        </div>
        <div class="row">
            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon">
                        <img src="../../../assets/img/Magnifying Glass1200.png" alt="">
                    </div>
                    <h4 class="headings">Select Topic/Course</h4>
                    <div class="">
                        <ul class="textAling">
                            <li>Select the Technology</li>
                            <li>Choose entire course </li>
                            <li>OR Select a Topic for learning</li>
                        </ul>
                        <span class="dot">

                        </span>
                    </div>

                    <!-- <p>Select the Course and choose either the full package or unbundle the package and choose the Topic
                        of your choice for Micro Learning, which you want to learn and register</p> -->
                </div>

            </div>

            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon" style="height: 142px;">
                        <img src="../../../assets/img/register.png" alt="">
                    </div>
                    <h4 class="headings">Book Class</h4>
                    <div class="">
                        <ul class="textAling">
                            <li>Register for the course/topic</li>
                            <li>Discuss your Learning Plan </li>
                            <li>Attend Demo classes for Full courses </li>
                        </ul>
                        <span class="dot">

                        </span>
                    </div>
                    <!-- <p>Register for either the course/topic for free. For Micro learning candidate will be mapped with
                        multiple trainers on our platform one can discuss with them before finalizing anyone. For full
                        course candidate can go for free Demo classes online/classroom to decide.</p> -->
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon">
                        <img src="../../../assets/img/class.png" alt="">
                    </div>
                    <h4 class="headings">Pay as you Learn </h4>
                    <div class="">
                        <ul class="textAling">
                            <li>Learn with your own pace</li>
                            <li>Book for next seesion once ready </li>
                            <li>Get mentoring from Highly experienced IT professional </li>
                        </ul>
                        <span class="dot">

                        </span>
                    </div>
                    <!-- <p>Candidates can pay per session as and when they want without compromising the quality of the
                        training as all our Trainers on the platform are highly experienced IT professional who are
                        selected through our strict quality measures.</p> -->
                </div>
            </div>


        </div>
    </div>
</div>
<!--================ End How it Works =================-->
<!--================ Start Popular Courses Area  =================-->
<div class="popular_courses">
    <!-- lite_bg -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>Explore Our Courses</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/JS.png" style="height:255px" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/javascript"> Java Script </a>
                        </h4>
                        <hr>
                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/javascript"
                                class="btn  btn-lg btnViewCourse btn-outline-info" role="button" aria-disabled="true">
                                View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/React.png" style="height:255px !important"
                            alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/react"> React js </a>
                        </h4>
                        <hr>
                        <p>React JS is one of the most popular frameworks for building client apps with HTML, CSS and
                            JavaScript. Learn React to establish yourself as a front-end or a full-stack developer</p>
                        <hr>
                        <p class="viewbtn">
                            <a routerLink="/react" class="btn  btn-lg btnViewCourse btn-outline-info" role="button"
                                aria-disabled="true">View More<span>&#10132;</span></a>
                        </p>

                        <!-- <p><a routerLink="/react"> click here for Micro Leraning</a></p> -->

                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Angular.svg.png" alt=""
                            style="height: 255px;">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/angular"> Angular 8 </a>
                        </h4>
                        <hr>
                        <p>
                            Angular 8 - a product of Google is one of the most popular frameworks in Front end
                            development. Learn Angular to establish yourself as a front-end or a full-stack develop
                        </p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/angular" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Node.png" style="height:255px" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/node">Node JS</a>
                        </h4>
                        <hr>
                        <p>Learn NodeJS and Express, design and develop RESTful web services with Express, and MongoDB.
                            AWS account setup and WebAPIand Database Hosting on AWS</p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/node" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/DotNet.png" style="height: 250px;" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/dotnet">C# / .NET</a>
                        </h4>
                        <hr>
                        <p>Learn core and advance C# and .NET framework. Learn to design and develop RESTful web
                            services with C#, .NET Framework, Entity Framework and MSSQL. AWS setup and API
                            hosting.
                        </p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/dotnet" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Java.jpg" style="height: 250px;" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/java">Java and Spring Boot </a>
                        </h4>
                        <hr>
                        <p> Core and advance JAVA, framework like Spring. How to design and develop RESTful
                            web services with Spring, JPA and MySQL. Master Microservices with Spring Boot. AWS account
                            setup and deployment</p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/java" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/mean.jpg" style="height: 255px;" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/mean"> Full Stack (MEAN)</a>
                        </h4>
                        <hr>
                        <p>A Full stack developer can handle Application end to end e.g. databases, servers,
                            deployments, programming etc. In this stack one will learn Typescript,Angular
                            Express Node and Mongo DB. </p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/mean" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/mern.png" style="height:255px" alt="">

                    </div>
                    <div class="course_content">
                        <h4 class="headings">
                            <a routerLink="/mern"> Full Stack (MERN)</a>
                        </h4>
                        <hr>
                        <p>A Full stack developer can handle Application end to end e.g. databases, servers,
                            systems engineering, and programming etc. In this stack one will learn React Express Node
                            and Mongo DB.</p>
                        <hr>
                        <p class="viewbtn"><a routerLink="/mern" class="btn  btn-lg btnViewCourse btn-outline-info"
                                role="button" aria-disabled="true">View More<span>&#10132;</span></a></p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--================ End Popular Courses Area =================-->
<!--================ About mLearn  =================-->
<div class="lite_bg">
    <div class="container">

        <div class="row">

            <!-- single features -->
            <div class="col-lg-6 col-md-6">
                <div>

                    <div class="headings" style="text-align: left;">mLearn-Learn with your own pace</div>
                </div>

                <div class="txtMargin">
                    <span class="dot">Learn with your Own pace and Pay per Topic.No prior commitment to pay full course
                        fees</span>
                </div>
                <div class="txtMargin">
                    <span class="dot">Learn from Experts.All our classes are instructor led programs.No more Learning
                        from videos</span>
                </div>
                <div class="txtMargin">
                    <span class="dot">Full Placement support.Each candidate will be provided with full placement support
                    </span>
                </div>
                <div class="txtMargin">
                    <span class="dot">All our programs are both online and classroom enabled.Candidate can choose any
                        option as per his/her convenience
                    </span>
                </div>

            </div>

            <!-- single features -->
            <div class="col-lg-6 col-md-6" style="padding-top: 30px;">
                <iframe width="654" height="368" src="https://www.youtube.com/embed/Nk-vGiD21M8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>



        </div>
    </div>
</div>
<!--================ End About mLearn =================-->



<!--================ Start Fact Area =================-->
<div class="fact_area overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>Facts that Make us Unique</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon">
                        <img src="../../../assets/img/f-icons/icon1.png" alt="">
                    </div>
                    <h4>Micro Learning</h4>
                    <p>We are the First organization which understood the importance of micro learning. Focus will be on
                        topic wise learning and candidate can move next only when he is clear with a particular topic
                    </p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon">
                        <img src="../../../assets/img/f-icons/icon2.png" alt="">
                    </div>
                    <h4>Pay as you GO</h4>
                    <p>Only pay for those topics which you want to learn also unbundle your learning,based on individual
                        topics and avoid paying for those which you already know. It is a cost effective solution for
                        the candidates. </p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-4 col-md-6">
                <div class="single_fact">
                    <div class="f_icon">
                        <img src="../../../assets/img/f-icons/icon3.png" alt="">
                    </div>
                    <h4>Expert mentors</h4>
                    <p>All our course are instructor led programs hosted by experts who are experienced IT professionals
                        and go through an intense selection process to get signed up as trainer at mLearn. We maintain
                        strict quality standards</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--================ End Fact Area =================-->



<!--================ Students Feedback  =================-->
<div class="popular_courses">
    <!-- lite_bg -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>What our Students Says about us</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-4 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <div class="row">
                            <div class="col-lg-2"><img class="card avatar" src="../../../assets/img/author1.png" alt="">
                            </div>
                            <div class="col-lg-10">
                                <h5 class="descSetting">Vaibha Gupta</h5>
                                <p class="descSetting">IT Team Lead</p>
                                <p class="descSetting">-10 Years</p>
                            </div>
                        </div>


                    </div>
                    <div class="course_content">

                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of
                            JavaScript.
                            This will cover both basic and advance JS.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--================ End Popular Courses Area =================-->
<!--================ Start Testimonial Area =================-->
<div class="col-lg-12 text-center" style="margin-bottom: 30px;">
    <h2 class="headings" style="text-align: center;font-weight: 900;
        margin-top: -80px;">Our Recuiters</h2>
    <app-carouselholder [slidesData]="slidesStore"></app-carouselholder>
</div>


<!--================ End Testimonial Area =================-->