<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Total Courses</p>
                <p class="card-title">4
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Active Courses</p>
                <p class="card-title">1
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Last day
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Upcoming Demo</p>
                <p class="card-title">1
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> In the last hour
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Completed Orders</p>
                <p class="card-title">4
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update now
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Course List</h5>
          <p class="card-category"><button class='btn btn-primary'>New Claim</button></p>
        </div>
        <div class="card-body ">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <!-- <div class="card-header">
                    <h4 class="card-title"> Simple Table</h4>
                  </div> -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Course ID
                          </th>
                          <th>
                            Course Name
                          </th>
                          <th>
                            Start Date
                          </th>
                          <th>
                            Instructor Name
                          </th>
                          <th>
                            End Date
                          </th>
                          <th>
                            Status
                          </th>
                          <th class="text-right">
                            Comments
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              abcd-1234-efgh
                            </td>
                            <td>
                              12000
                            </td>
                            <td>
                              02-Mar-2020
                            </td>
                            <td>
                              Product Return
                            </td>
                            <td>
                             -
                            </td>
                            <td>
                              In Progress
                            </td>
                            <td class="text-right">
                             Waiting for Approval
                            </td>
                          </tr>
                          <tr>
                            <td>
                              abcd-1234-efgh
                            </td>
                            <td>
                              12000
                            </td>
                            <td>
                              02-Mar-2020
                            </td>
                            <td>
                              Product Return
                            </td>
                            <td>
                             -
                            </td>
                            <td>
                              In Progress
                            </td>
                            <td class="text-right">
                             Waiting for Approval
                            </td>
                          </tr>
                          <tr>
                            <td>
                              abcd-1234-efgh
                            </td>
                            <td>
                              12000
                            </td>
                            <td>
                              02-Mar-2020
                            </td>
                            <td>
                              Product Return
                            </td>
                            <td>
                             -
                            </td>
                            <td>
                              In Progress
                            </td>
                            <td class="text-right">
                             Waiting for Approval
                            </td>
                          </tr>
                          <tr>
                            <td>
                              abcd-1234-efgh
                            </td>
                            <td>
                              12000
                            </td>
                            <td>
                              02-Mar-2020
                            </td>
                            <td>
                              Product Return
                            </td>
                            <td>
                             -
                            </td>
                            <td>
                              In Progress
                            </td>
                            <td class="text-right">
                             Waiting for Approval
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a href="tables.html">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Transaction List</h5>
          <!-- <p class="card-category">24 Hours performance</p> -->
        </div>
        <div class="card-body ">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <!-- <div class="card-header">
                    <h4 class="card-title"> Simple Table</h4>
                  </div> -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Name
                          </th>
                          <th>
                            Country
                          </th>
                          <th>
                            City
                          </th>
                          <th class="text-right">
                            Salary
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-right">
                              $36,738
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-right">
                              $36,738
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-right">
                              $36,738
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-right">
                              $36,738
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-right">
                              $36,738
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a href="tables.html">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
        </span>
      </div>
    </div>
  </div>
</footer>